/* Contact Page start */
.content-contact {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: 5% auto 0;
}

.content-contact-left {
	width: 60%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}
.get-in-touch {
	margin-top: 30px;
	width: 80%;
}
.get-in-touch-title {
	color: #ffffff;
}
.img-contact {
	width: 80%;
	height: 300px;
	border-radius: 10px;
}
.hr-get-in-touch {
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}
.content-getMedia-email,
.content-getMedia-map {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}
.icon-getMedia-email,
.icon-getMedia-map {
	width: 40px;
	height: 30px;
	padding-right: 10px;
}
.getMedia-email,
.getMedia-address {
	color: #ffffff;
	font-size: 14px;
	font-weight: lighter;
}
.content-contact-right {
	width: 50%;
	height: 500px;
}
/* form start */
.contact-form {
	width: 85%;
	margin: auto;
}
/* form finish */

/* Contact Page finish */

/* Vouchers Page start */
.content-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.card.music-card-text {
	background-color: #01061e;
}
.card-text-description {
	font-size: 14;
	font-weight: lighter;
	color: #ffffff;
}
.music-card-5 {
	background-color: #6b22a4 !important;
}
.music-card-10 {
	background-color: #11b04b !important;
}
.music-card-20 {
	background-color: #f539b5 !important;
}
.card-text {
	font-weight: bold;
	font-size: 20px;
}
.content-vouchers-left {
	width: 30%;
}
.card {
	margin-bottom: 10%;
}
/* form start */
.voucher-form {
	width: 65%;
	margin: auto;
}
.intro-vouchers {
	width: 40%;
}
/* form finish */
/* Vouchers Page finish */
