/* General start */
* {
	padding: 0;
	margin: 0;
	word-spacing: 0.1em;
	letter-spacing: 0.1em;
}
html {
	background-color: #01061e;
}
main {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #01061e;
}
.subtitle-page {
	font-weight: lighter;
}
/* General finish */

/* Imputs start */
input.input-search {
	padding-left: 10px;
}
/* Imputs finish */

/* NAVBAR start  */
/* navbar fix on the top */
.top-navbar {
	position: fixed;
	width: 100vw;
	background-color: #2e2d44;
	z-index: 10;
	display: flex;
}
ul.navbar-nav.mr-auto.d-flex.flex-row {
	margin-right: 0 !important;
	order: 1;
}
.logo {
	height: 65px;
	padding-top: 10px;
	margin-left: 10%;
}
/*links space */
.nav-item {
	width: 40px;
	height: 40px;
}
.nav-item-home {
	margin-left: 30px;
}
.nav-item-cart {
	width: 60px;
}

/* text link for the collapse */
.text-link-nav {
	display: none;
}

/* links icons */
.nav-icon {
	margin-right: 10px;
	color: #eadbf6;
	font-size: 25px;
}
/* Burger icon */
.navbar-toggler {
	width: 50px;
}

/* logged name */
.nav-item-userName {
	display: flex;
	justify-content: center;
	align-items: center !important;
	width: 70px !important;
}
#userNameNav {
	margin-top: 10px;
	color: #eadbf6;
}

/* shopping cart */
.cart {
	border-radius: 3px;
	border-color: #2e2d44;
	position: relative;
}
.cartAmount {
	position: absolute;
	top: -3px;
	right: 25px;
	margin-top: 10px;
	padding: 3px;
	border-radius: 3px;
	font-size: 14px;
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}
/* NAVBAR finish  */

/* FORMS start */
.intro-pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: auto;
	color: #ffffff;
	padding-top: 30px;
}
.subtitle-pages {
	font-size: 16px;
	font-weight: 200;
	padding-top: 20px;
}
form.form-pages {
	background-color: #9f97a4;
	border-radius: 10px;
	padding: 5%;
}
.form-control {
	background-color: #c7c2cb;
}
.btn-form {
	width: 100%;
	background-color: rgb(59, 131, 189) !important;
	color: rgb(255, 255, 255) !important;
	border: none !important;
}
.btn-form:hover {
	background-color: rgb(90, 4, 144) !important;
}
label {
	margin: 0 !important;
	font-size: 14px;
}
.form-control {
	margin-bottom: 10px !important;
}
.form-group .form-control {
	padding-left: 2.375rem;
}
.form-group .form-control-icon {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}
/* FORMS finish */

/* FOOTER start  */
footer {
	background-color: #01061e;
	justify-content: center;
}
.container-footer {
	width: 80%;
	margin: auto;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}
.section-links {
	width: 22%;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
}
.section-media {
	width: 25%;
	padding-bottom: 30px;
}
.icons-media {
	display: flex;
	flex-direction: row;
}
/* links */
p.title-section-footer {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 0 !important;
}
.title-follow {
	padding-bottom: 10px;
}
.link-footer {
	color: #ffffff;
	font-size: 12px;
	margin-left: 0 !important;
	font-weight: lighter;
}
.link-footer:hover {
	color: #6b22a4;
	text-decoration: none;
}

/* icons */
.icon-footer-rectangle {
	width: 100px;
	height: 50px;
	padding: 5px;
}
.icon-footer {
	width: 40px;
	height: 40px;
	padding: 5px;
}

/* copyright */
.footer-copyright {
	background-color: #2e2d44;
}
/* FOOTER finish  */

/* !Media Quey tablet start */
@media screen and (max-width: 768px) {
	/* Navbar mobile start  */
	.logo {
		max-height: 70px;
		padding-top: 20px;
	}
	/*links*/
	ul.navbar-nav.mr-auto.d-flex.flex-row {
		order: 0;
	}
	.nav-item {
		padding-bottom: 10px;
	}
	.nav-item-home {
		margin-left: 0;
	}
	span.text-link-nav {
		margin-top: 0 !important;
	}

	/* collapse */
	.navbar-collapse {
		padding: 14px;
	}
	.container-link-nav-collapse {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.text-link-nav {
		display: block;
		color: #eadbf6;
		margin-top: 10px;
		padding-left: 10px;
	}
	/* Navbar mobile finish  */
	/* Footer tablet start  */
	.container-footer {
		width: 80%;
	}
	.section-links {
		width: 32% !important;
		padding-bottom: 30px;
	}
	.section-media {
		width: 45% !important;
		padding-bottom: 15px;
	}
	/* Footer tablet finish  */
}
/* !Media Quey tablet finish */

/* !MEDIA QUERY phone starts */
@media screen and (max-width: 414px) {
	/* Navbar mobile start  */
	.logo {
		height: 70px;
		width: 150px;
		padding-top: 0;
		margin-left: 0;
	}

	/*links*/
	.nav-item {
		margin: 0;
		width: 40px;
		height: 40px;
	}
	.nav-icon {
		font-size: 30px;
		margin-right: 0;
	}
	span.userNameNav {
		font-size: 9px;
	}
	/* after login */
	.accountSet {
		display: flex;
		flex-direction: row;
	}
	/* shopping cart */
	.cartAmount {
		right: 5px;
		top: 5px;
	}
	/* collapse */
	ul.navbar-nav.mr-auto.d-flex.flex-row {
		order: 0;
	}
	.navbar-collapse {
		background-color: #2e2d44;
		padding: 14px;
	}
	.container-link-nav-collapse {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.text-link-nav {
		display: block;
		color: #eadbf6;
		margin-top: 10px;
		padding-left: 20px;
	}
	/* Navbar mobile finish  */

	/* Footer mobile start  */
	.container-footer {
		width: 83%;
		padding-bottom: 20px;
	}
	.section-links {
		width: 50% !important;
		padding-bottom: 20px;
	}
	.section-media {
		width: 100% !important;
		padding-bottom: 15px;
	}
	/* text */
	.ourProducts-section {
		padding-top: 30px;
	}
	p.title-section-footer {
		font-size: 19px;
		width: 200px;
		margin-right: 0 !important;
	}
	/* links */
	.link-footer {
		color: #ffffff;
		font-size: 14px;
		margin-left: 0;
		font-weight: lighter;
	}
	/* icons */
	.icon-footer-rectangle {
		width: 130px;
		height: 60px;
	}
	.icon-footer {
		width: 50px;
		height: 50px;
	}
	/* Footer mobile finish  */
}
/* !Media Quey phone finish */
