/*intro section start */
.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 150px;
}
.title-intro {
	font-size: 65px;
	padding-top: 12%;
}
.subtitle-intro {
	width: 80%;
}
.big-logo-silhouette img {
	height: 280px;
	padding-top: 7%;
}
/*intro section finish */

/*Your Music section start */
.yourMusic {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: auto;
	background-color: #2e2d44;
	border-radius: 0.5rem;
	margin-bottom: 100px;
}
div.text-section-videos {
	color: #ffffff;
	width: 80%;
	margin: 50px auto;
	font-weight: lighter;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.middleElements {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
p.text-section-videos {
	width: 80%;
	margin: 20px auto 40px;
}
.section-videos {
	flex-wrap: wrap;
	width: 50%;
	margin-top: 50px;
}

.section-videos video {
	position: relative;
	margin-top: 8px;
	vertical-align: middle;
}
.video-horizontal {
	width: 42%;
	height: 100px;
}
.video-vertical {
	width: 20%;
	height: 160px;
}
.yellow-yourMusic {
	color: rgb(247, 247, 7);
}
#goToSearch {
	width: 30%;
	height: 50px;
	background-color: rgb(59, 131, 189) !important;
	color: rgb(255, 255, 255) !important;
	border: none !important;
	font-size: 18px;
}
#goToSearch:hover {
	background-color: rgb(90, 4, 144) !important;
}
/*Your Music section finish */

/* Music VOUCHERS Section start */
.intro-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

.music-cards-section {
	width: 80%;
	margin: auto;
}
.text-vouchers {
	color: #ffffff;
	margin-bottom: 40px;
	font-weight: lighter;
	font-size: 15px;
}
/* vouchers */
.music-cards-section {
	margin-bottom: 100px;
}
.vouchers-card-deck {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #2e2d44;
	padding: 30px 40px;
	border-radius: 0.5rem;
}
.card-voucher {
	width: 80%;
	margin: 20px;
	background-color: #01061e !important;
}
.card-title-voucher-home {
	margin-bottom: 15px;
}
.card-text-voucher-home {
	font-weight: lighter;
	font-size: 14px;
}

.btn-minus,
.btn-plus {
	width: 20px;
	border: none !important;
	font-weight: lighter;
}
.bi {
	color: rgb(255, 255, 255);
}
.btn-cart-card {
	width: 80%;
	background-color: rgb(59, 131, 189) !important;
	color: rgb(255, 255, 255) !important;
	border: none !important;
	letter-spacing: 0;
	font-size: 10px;
}
.btn-cart-card:hover {
	background-color: rgb(90, 4, 144) !important;
}
/* Music VOUCHERS Section finish */

/* Your Music-Gift start */
.yourMusic-Gift {
	display: flex;
	flex-direction: row;

	width: 80%;
	margin: 60px auto;
}
.section-surprise-text {
	width: 75%;
	margin-left: 5%;
}
.title-section-surprise {
	color: #ffffff;
}
.text-section-surprise {
	color: #ffffff;
	font-weight: lighter;
}
.btn-buy-gift {
	width: 30%;
	height: 50px;
	background-color: rgb(59, 131, 189) !important;
	color: rgb(255, 255, 255) !important;
	border: none !important;
	font-size: 18px;
}
.btn-buy-gift :hover {
	background-color: rgb(90, 4, 144) !important;
}
.img-surprise {
	width: 100%;
	height: 240px;
	border-radius: 10px;
}
.modal-content {
	background-color: #e4e4f1 !important;
}
/* Your Music-Gift finish */

/*  Music CARDS CAROUSEL section start */
.carousel-section {
	display: flex;
	flex-direction: column;

	justify-content: center;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
}
.col-song-card {
	padding: 0 !important;
}
.music-cards-carousel-title {
	color: #ffffff;
	font-size: 30px;
}
.card-to-play {
	/* height: 250px; */
	margin: 0 !important;
	border: 2px solid #01061e !important;
}
.card-img-top {
	height: 140px;
}
.card-body-music {
	/* height: 30px; */
	background-color: #2e2d44;
	padding: 10px !important;
}
.card-title {
	font-size: 15px;
	margin: 0 !important;
	color: #ffffff;
}
.card-text-group-carousel {
	font-size: 12px;
	margin: 0 !important;
	color: #d0cbcb;
	font-weight: lighter;
}

.btn.bg-info {
	width: 100% !important;
	margin-top: 7px;
}
.carousel-control-next,
.carousel-control-prev {
	width: 30px !important;
}

.col-2 {
	padding: 0 !important;
}
/* Music CARDS CAROUSEL section finish */

/* Newsletter section start */
.newsletter {
	background-color: #01061e;
	padding: 70px 0 50px;
}

.video-wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay {
	background: rgba(194, 46, 162, 0.5);
	z-index: 2;
}
video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.container-sign-newsletter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 70%;
	margin: auto;
	background: none;
	z-index: 3;
}
.input-subscribe-field {
	display: flex;
	flex-direction: row;
	width: 70%;
}
.btn-subscribe {
	width: 30%;
}

.text-newsletter {
	color: #ffffff;
	margin: auto;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.container-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}
button {
	border: 2px solid #2e2d44 !important;
	width: 45%;
	justify-content: center;
}

button:hover {
	background-color: #2e2d44 !important;
	color: white !important;
}

/* Newsletter section finish */

/* main finish  */

/* !Media Quey phone starts */
@media screen and (max-width: 414px) {
	/*intro section start */
	.intro {
		width: 80%;
		margin: 40px auto;
	}
	.title-intro {
		font-size: 45px;
		padding-top: 5%;
	}
	.subtitle-intro {
		width: 100%;
		font-size: 16px;
	}
	.big-logo-silhouette img {
		width: 100%;
		height: 160px;
	}
	/*intro section finish */

	/*Your Music section start */
	.yourMusic {
		width: 88%;
		flex-direction: column;
		margin-bottom: 70px;
	}
	.middleElements {
		width: 100%;
	}
	p.text-section-videos {
		width: 100%;
		font-size: 18px;
	}
	.yellow-yourMusic {
		font-size: 20px;
	}
	#goToSearch {
		width: 100%;
		height: 50px;
	}

	.section-videos {
		margin: 0 7.5% 40px;
		width: 100%;
		justify-content: center;
	}
	/*Your Music section finish */

	/* Your Music-Gift start */
	.yourMusic-Gift {
		display: flex;
		flex-direction: column;
	}
	.section-surprise-text {
		width: 100%;
		margin: 0;
		padding-top: 20px;
	}
	.text-section-surprise {
		font-size: 18px;
	}
	.btn-buy-gift {
		width: 100%;
		font-size: 20px !important;
	}
	/* Your Music-Gift finish */

	/* Music VOUCHERS Section start */
	.intro-titles {
		margin-bottom: 20px;
	}
	.subtitle-page {
		padding-top: 5px;
		font-size: 22px;
		font-weight: bold;
	}
	.text-vouchers {
		margin-bottom: 40px;
		font-size: 18px;
	}
	/* vouchers */
	.music-cards-section {
		margin-bottom: 70px;
	}
	.vouchers-card-deck {
		flex-direction: column;
		padding: 15px 10px;
	}
	.row-cards {
		margin-left: 0 !important;
	}
	.card-voucher {
		width: 90%;
		margin: 10px;
	}
	.card-title {
		font-size: 22px;
		margin-bottom: 10px !important;
	}
	.card-text-voucher-home {
		font-weight: lighter;
		font-size: 18px;
	}
	/* vouchers finish */

	/*  Music CARDS CAROUSEL section start */
	.card-text-group-carousel {
		font-size: 16px;
	}
	.col-song-card {
		width: 200px;
		height: 300px;
		padding-bottom: 20px;
	}
	/* Music CARDS CAROUSEL section finish */
}
/* !Media Quey phone finish */

/* !Media Quey tablet starts */
@media screen and (max-width: 768px) {
}
/* !Media Quey tablet finish */
