/*intro section start */
.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.title-intro {
	font-size: 65px;
	padding-top: 12%;
}
.subtitle-intro {
	width: 80%;
}
.big-logo-silhouette img {
	height: 280px;
	padding-top: 7%;
}
/*intro section finish */

/*intro-search section start */
.input-search-home {
	padding-top: 80px;
	padding-bottom: 80px;
	margin: auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.input-search-field {
	width: 100%;
	height: 40px;
}
.btn-search {
	color: #ffffff !important;
	background-color: #9052bf !important;
	border-color: #9052bf !important;
}
/*intro-search section finish */

/* Music VOUCHERS Section start */
.intro-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

.music-cards-section {
	width: 80%;
	margin: auto;
}
.text-vouchers {
	color: #ffffff;
	margin-bottom: 40px;
	font-weight: lighter;
	font-size: 15px;
}
/* vouchers */
.music-cards-section {
	margin-top: 30px;
}
.vouchers-card-deck {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #2e2d44;
	padding: 30px 40px;
}
.card-voucher {
	width: 80%;
	margin: 20px;
	background-color: #01061e !important;
}
.card-title-voucher-home {
	margin-bottom: 15px;
}
.card-text-voucher-home {
	font-weight: lighter;
	font-size: 14px;
}

.btn-minus,
.btn-plus {
	width: 20px;
	border: none !important;
	font-weight: lighter;
}
.bi {
	color: rgb(255, 255, 255);
}
.btn-cart-card {
	width: 80%;
	background-color: rgb(59, 131, 189) !important;
	color: rgb(255, 255, 255) !important;
	border: none !important;
	letter-spacing: 0;
	font-size: 10px;
}
.btn-cart-card:hover {
	background-color: rgb(90, 4, 144) !important;
}
/* vouchers finish */
/* Music VOUCHERS Section finish */

/*  Music Cards carousel section start */
.carousel-section {
	display: flex;
	flex-direction: column;

	justify-content: center;
	width: 80%;
	margin: auto;
}
.music-cards-carousel-title {
	color: #ffffff;
	font-size: 30px;
}
.carousel-control-prev .carousel-control-next {
	width: 20px;
	height: 250px !important;
}
.card-to-play {
	height: 250px;
	margin: 0 !important;
	border: 2px solid #01061e !important;
}
.card-img-top {
	height: 140px;
}
.card-body-music {
	height: 30px;
	background-color: #2e2d44;
	padding: 10px !important;
}
.card-title {
	font-size: 15px;
	margin: 0 !important;
	color: #ffffff;
}
.card-text-group-carousel {
	font-size: 12px;
	margin: 0 !important;
	color: #d0cbcb;
	font-weight: lighter;
}

.btn.bg-info {
	width: 100% !important;
	margin-top: 7px;
}
.carousel-control-next,
.carousel-control-prev {
	width: 40px !important;
	height: 200px;
}
.col-2 {
	padding: 0 !important;
}
/* Music Cards carousel section finish */

/* Newsletter section start */
.newsletter {
	background-color: #01061e;
	padding: 70px 0 50px;
}

.video-wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay {
	background: rgba(194, 46, 162, 0.5);
	z-index: 2;
}
video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.container-sign-newsletter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 70%;
	margin: auto;
	background: none;
	z-index: 3;
}
.input-subscribe-field {
	display: flex;
	flex-direction: row;
	width: 70%;
}
.btn-subscribe {
	width: 30%;
}

.text-newsletter {
	color: #ffffff;
	margin: auto;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.container-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}
button {
	border: 2px solid #2e2d44 !important;
	width: 45%;
	justify-content: center;
}

button:hover {
	background-color: #2e2d44 !important;
	color: white !important;
}

/* Newsletter section finish */

/* main finish  */
