* {
	margin: 0;
	padding: 0;
}

/* video background page */
video {
	object-fit: cover;
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
}
.video-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* container of the page */
.container-sign {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 30vw;
	margin: auto;
	background: none;
}

/* title with background */
.overlay {
	background: rgba(85, 92, 85, 0.5);
}
.p-overlay {
	margin: 0;
	padding: 5px;
}

/* img logo */
img {
	margin-top: 30px;
}

/* container btns sign in and sign up*/
.container-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}
button {
	border: 2px solid #2e2d44 !important;
	width: 45%;
	justify-content: center;
}

button:hover {
	background-color: #2e2d44 !important;
	color: white !important;
}

/* !Media Quey phone starts */
@media screen and (max-width: 414px) {
	.p-overlay {
		font-size: 15px !important;
		padding: 5px !important;
	}
}
/* !Media Quey phone finish */

/* !Media Quey tablet starts */
@media screen and (max-width: 768px) {
	.container-sign {
		width: 55vw !important;
	}
	.p-overlay {
		font-size: 18px;
		padding: 10px;
	}
}
/* !Media Quey tablet finish */
