table {
	background-color: #2e2d44;
	width: 90%;
	margin: auto;
	border-collapse: separate;
}
.btn-search-searchPage {
	color: #ffffff !important;
	background-color: #9052bf !important;
	border-color: #9052bf !important;
}
.intro-itunes-search,
tr {
	margin: auto;
	width: 90%;
	border: solid 2px black;
}
.intro-itunes-search {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

td.litle-itunes-img,
td.itunes-price,
td.itunes-play {
	width: 5%;
	color: #ffffff;
}
td.itunes-genre {
	width: 10%;
}
td {
	width: 30%;
	color: #ffffff;
	font-weight: lighter;
}
td.artist-name {
	color: rgb(226, 226, 13);
	width: 25%;
}
.big-img-itunes {
	width: 90%;
	height: 300px;
}
.form-search-iTunes {
	padding-top: 80px;
	padding-bottom: 80px;
	margin: auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon-play {
	width: 30px;
	height: 30px;
}
.input-search-searchPage {
	width: 85%;
	height: 40px;
}
.btn-search-searchPage {
	width: 15%;
}

/* !Media Quey phone starts */
@media screen and (max-width: 414px) {
	table {
		width: 95%;
		margin: auto;
	}
	.form-search-iTunes {
		padding-top: 50px;
		padding-bottom: 50px;
		margin: auto;
		width: 90%;
	}
	.btn-search-searchPage {
		width: 35%;
	}
	.intro-itunes-search {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 50px;
	}
	.big-img-itunes {
		width: 100% !important;
		height: 400px;
		padding-bottom: 30px;
	}
	td.litle-itunes-img {
		display: block;
		float: left;
		width: 40%;
		margin: 0 !important;
	}
	.img-table {
		width: 100%;
		height: 150px;
		padding-left: 15px;
		padding-top: 15px;
	}
	td.ng-binding {
		display: block;
		float: right;
		width: 60%;
		margin: 0 !important;
		padding-left: 20px;
		padding-top: 20px;
	}
	td.artist-name.ng-binding {
		font-size: 20px;
	}
	td.itunes-play {
		display: block;
		float: right;
		width: 70%;
		height: 56px;
		margin: 0 !important;
		padding-left: 200px;
	}
	.icon-play {
		width: 42px;
		height: 44px;
	}

	td th,
	td {
		display: block;
	}
}
/* !Media Quey tablet starts */
@media screen and (max-width: 768px) {
}
/* !Media Quey tablet finish */
