.background1 {
	width: 50vw;
	height: 50vh;
	background-image: linear-gradient(rgb(255, 69, 100), blue);
}

table {
	background-color: #2e2d44;
	width: 90%;
	margin: auto;
	border-collapse: separate;
}
thead {
	display: none !important;
}
.intro-itunes-search,
tr {
	margin: auto;
	width: 90%;
	padding-bottom: 30px;
}
.intro-itunes-search {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
td.litle-itunes-img,
td.itunes-price,
td.itunes-play {
	width: 5%;
	color: #ffffff;
}
td.itunes-genre {
	width: 10%;
}
td {
	width: 30%;
	color: #ffffff;
}
.big-img-itunes {
	max-width: 90%;
	height: 300px;
}
.form-search-iTunes {
	padding-top: 80px;
	padding-bottom: 80px;
	margin: auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon-play {
	width: 30px;
	height: 30px;
}
.input-search-searchPage {
	width: 85%;
	height: 40px;
}
.btn-search-searchPage {
	width: 15%;
}
