body {
	background-color: #01061e;
}
.title-basket {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 40px;
	color: #ffffff;
}
/* LABEL start */
.label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #01061e;
	color: #ffffff;
	margin-bottom: 20px;
}
/* btns: deselect all items and checkout */
.basket-btn,
.home-btn {
	background-color: rgb(59, 131, 189);
	color: rgb(255, 255, 255);
	border: none;
	padding: 7px;
	margin: 10px;
	border-radius: 3px;
}
.basket-btn:hover,
.home-btn:hover {
	background-color: rgb(90, 4, 144);
}
/* LABEL finish */

/* SHOPPING-CART  */
/* all the page */
.cart-page {
	background-color: #01061e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40% !important;
	margin: auto;
	padding-bottom: 100px !important;
}
/* vouchers shopping */
.cart-section {
	background-color: #01061e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.shopping-cart {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center !important;
}
/* individual voucher shopping */
.cart-item {
	height: 120px;
	color: #ffffff;
	background-color: #2e2d44 !important;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem;
	border-color: #01061e;
	margin-bottom: 10px;
}
/* img voucher */
.img-voucher-cart {
	width: 100%;
	height: 120px;
	border-radius: 1rem 0 0 1rem;
}
/* Delete icon */
span.fa.fa-trash {
	padding-left: 10px;
	color: aliceblue;
}
/* SHOPPING-CART  finish */

/* !Media Quey phone starts */
@media screen and (max-width: 414px) {
	/* mobile title */
	.title-basket {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	h1 {
		font-size: 33px !important;
	}
	/* mobile subtitle: total bill */
	h2 {
		font-size: 25px !important;
	}
	/* all the page */
	.cart-page {
		width: 80% !important;
		margin: auto;
		padding-bottom: 50px !important;
	}
}
/* !Media Quey tablet starts */
@media screen and (max-width: 768px) {
	/* mobile title */
	.title-basket {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	h1 {
		font-size: 33px !important;
	}
	/* mobile subtitle: total bill */
	h2 {
		font-size: 25px !important;
	}
	/* all the page */
	.cart-page {
		width: 70% !important;
		margin: auto;
		padding-bottom: 50px !important;
	}
}
/* !Media Quey tablet finish */
